SOLVING QUADRATIC EQUATION : s=3x+2y+c

In [ ]:
x=int(input("x:"))
y=int(input("y:"))
c=int(input("c:"))
s=3*x**2+2*y+c
print("s=",s)

x:2
y:6
c:4
s= 28

TO PRINT EB BILL OF A CUSTOMER

In [ ]:
a=str(input("EB BILL Customer name : "))
b=str(input("EB Id : "))
n=float(input("NO.of Units used : "))
meter_charge = 100
charge_per_unit = 5
total_eb_bill= n*charge_per_unit+meter_charge
print("TOTAL EB BILL = ",total_eb_bill)

EB BILL Customer name : DILEEP
EB Id : 1002384
NO.of Units used : 472
TOTAL EB BILL =  2460.0

TO GENERATE HOTEL BILL

In [ ]:
print("                       WELCOME HOTEL                 ")
p=str(input("CUSTOMER PH.NO : "))
d=int(input("Dosa QTY : "))
id=int(input("Idly QTY : "))
po=int(input("Poori QTY : "))
total_bill=d*20+id*10+po*15
if total_bill>250:
  print("tips")
else:
  print("no tips")

                       WELCOME HOTEL
CUSTOMER PH.NO : 77388474
Dosa QTY : 67
Idly QTY : 92
Poori QTY : 66
tips

In [1]:
i=1
num=int(input("value"))
while i<=20:
  print(num,"*",i,"=",num*i)
  i=i+1

value 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
9 * 12 = 108
9 * 13 = 117
9 * 14 = 126
9 * 15 = 135
9 * 16 = 144
9 * 17 = 153
9 * 18 = 162
9 * 19 = 171
9 * 20 = 180

In [ ]:
k=float(input("Km : "))
m=0.621*k
print(m,"miles")

Km :  3.05
1.8940499999999998 miles

In [ ]:
p=int(input("Principal : "))
r=float(input("rate of interest : "))
t=float(input("time period : "))
si=p*r*t/100
print("simple interest : ",si)

Principal :  4000
rate of interest : 3.45
time period : 2.8
simple interest :  386.4

In [ ]:
num=int(input("n : "))
for i in range (1,11):
  print(num,"*",i,"=",num*i)

n :  5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
num=int(input("enter the value : "))
sum=0
temp=num
while(temp>0):
  d=temp%10
  sum+=d*d*d
  temp=temp//10
if sum==num :
  print(sum,"Armstrong no.",)
else:
  print(sum,"Not Armstrong no.")

enter the value : 370
370 Armstrong no.

In [ ]:
a=int(input("a : "))
if(a>0):
  print("Positive")
else:
  print("Negative")

a : -1
Negative

In [ ]:
l=int(input("Leap Year : "))
if(l%4==0 and l%100!=0 or l%400==0):
  print("Leap Year")
else:
  print("Not a Leap Year")

Leap Year : 2007
Not a Leap Year

In [ ]:
num=int(input("Factorial of : "))
f=1
for i in range(1,num+1):
  f=f*i
print("Factorial of",num,"is",f)

Factorial of : 7
Factorial of 7 is 5040

In [ ]:
p=int(input("enter a value : "))
r=0
temp=p
while(p>0):
  d=p%10
  r=r*10+d
  p=p//10
if temp==r :
  print("It is a palindrome")
else:
  print("It is not a palindrome")

enter a value : 42424
It is a palindrome

In [ ]:
s=str(input(" enter the string : "))
st=s[::-1]  #string slicing and comparing
if(s==st):
  print(st,"is panlindrome")
else:
  print(st,"is not palindrome")

 enter the string : mom
mom is panlindrome

**Pattern Printing**

In [ ]:
for i in range(1,6):
  for j in range(i):
    print(i,end=' ')
  print(' ')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(1,6):
    n = 1
    for j in range(6,0,-1):
        if j > i:
            print("",end='')
        else:
            print(n, end=' ')
            n += 1
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(i):
    print("*", end=" ")
  print('  ')

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(1,6):
    n = 1
    for j in range(6,0, -1):
        if j > i:
            print("",end=' ')
        else:
            print("*", end=' ')
            n += 1
    print(" ")

     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
for i in range(1, 6):
  for j in range(1,6):
    if(j<=5-i):
      print(" ", end=" ")
    else:
      print("*", end=" ")
  print('')

        *
      * *
    * * *
  * * * *
* * * * *